body {
  margin: 0rem;

  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0em;
  font-family: Verdana;
  font-style: bold;
  font-size: 26px;
}

h2 {
  font-style: bold;
  font-size: 24px;
  color: rgb(0, 0, 0);

  padding-left: 1em;
}

h3 {
  margin: 0em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: bold;
  font-size: 14px;
  color: black;

  padding-left: 2em;
}

h4 {
  font-style: bold;
  margin: 1rem;
  font-size: 26px;
  text-align: center;
}

p {
  margin-left: 2em;
}

.highlight {
  font-style: bold;
  font-size: 20px;
}

.highlight a {
  color: #ec6707;
}

.fließ {
  font-style: Italic;
  font-size: 14px;
  color: rgb(129, 129, 129);

  margin-left: 2em;
  margin-right: 2em;
}

h2 + .fließ {
  margin-top: -1em;
}

.fließ + .fließ {
  margin-top: -2em;
}

.strong {
  font-weight: bold;
}

.wrapper {
  position: relative;
}

.top {
  position: absolute;
  width: 100%;
  height: 10rem;

  display: grid;
  grid-template-columns: 1fr 20% 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo logo logo"
    "neuigkeiten uns veranstaltungen";
  box-shadow: 0px 0px 20px rgb(70, 70, 90);
  align-items: center;
}

.Logo img {
  height: auto;
  width: auto;
}

.Logo {
  grid-area: logo;

  justify-self: center;
}

.Neuigkeiten {
  justify-self: center;
  grid-area: neuigkeiten;
}

.uns {
  justify-self: center;
  grid-area: uns;
}

.Veranstaltungen {
  justify-self: center;
  grid-area: veranstaltungen;
}

.highlight2 {
  color: #ec6707;
}

.content {
  display: grid;
  justify-self: center;
  padding-bottom: 2rem;
  padding-top: 14rem;
  row-gap: 2rem;
}

.footer {
  display: grid;
  grid-template-areas:
    "info abgabe"
    "social-media social-media";
  width: 100%;
  background-color: #2b2f88;

  /*
  position: absolute;
  
  width: 100%;
  height: 10rem;

  display: grid;
  grid-template-columns: 25% 15% 15% 15% 15% 15%;
  grid-template-rows: 10rem;
  grid-column-start: 0;
  grid-column-end: 8;
  background-color: #2b2f88;
  align-items: center;
  */
}

.footer h2 {
  color: white;
}

.info {
  margin-left: 1rem;
  grid-area: info;
}

.social-media {
  grid-area: social-media;
  display: flex;
  justify-self: center;
  margin: 2rem;
  column-gap: 10px;
}

.social-media > * {
  margin: 0 20px;
}

.abgabe {
  margin-right: 3em;
  text-align: right;
  grid-area: abgabe;
}

/*
+++KoPi-Tour+++
*/

.kopi-tour{
  display:grid ;
  grid-template-columns: 50% 50%; 
  grid-template-rows: auto auto auto;
  row-gap:2rem ;


}

.kopiImg{
  grid-column-start:1 ;
  grid-column-end:3;
  grid-row-start: 1 ;
}

.kopititel{
  grid-column-start:1 ;
  grid-column-end:3;
  grid-row-start: 1 ;
  margin-top: 2rem;
  margin-right: 7rem;

}

.KoPitextlinks{
  grid-column-start:1 ;
  grid-row-start: 2 ;


}

.KoPitextrechts{
  grid-column-start:2 ;
  grid-row-start: 2 ;


}






/*
+++Neuigkeiten+++
*/

.willkommen {
  text-align: center;
}

.neuigkeit {
  background-position: center;
  background-size: auto;
  padding: 10px;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 32% 63%;
  grid-template-rows: 2em auto auto auto 3em;
  grid-template-areas:
    "thumb ."
    "thumb datum"
    "thumb titel"
    "thumb text"
    "thumb .";
}

.neuigkeit .thumbnail {
  grid-area: thumb;
}

.neuigkeit img {
  height: 10em;
  width: auto;
  justify-self: right;
  align-self: center;
}

.neuigkeit .datum {
  grid-area: datum;
  font-size: 0.75em;
  font-weight: 100;
}

.neuigkeit .titel {
  grid-area: titel;
  font-size: 1.5em;
  font-weight: 900;
}

.neuigkeit .text {
  grid-area: text;
  font-size: 0.75em;
  font-weight: 100;
}

.kohl-und-pinkel {
  background-image: url("Bilder/neuigkeiten/kohl-und-pinkel-hintergrund.png");
  background-size: auto;
}

.mitgliederversammlung {
  background-image: url("Bilder/neuigkeiten/mitgliederversammlung-hintergrund.png");
  background-size: auto;
}

.sommerfest {
  background-image: url("Bilder/neuigkeiten/sommerfest-hintergrund.png");
  background-size: auto;
}

.vorstand-vorstellung {
  background-image: url("Bilder/neuigkeiten/vorstand-vorstellung-hintergrund.png");
  background-size: auto;
}

/*
+++Über uns+++
*/

.das-team-überschrift {
  text-align: center;
}

.das-team {
  display: grid;
  justify-items: center;
  gap: 3em;
}

.teammitglied {
  text-align: center;
  width: 18em;
  box-shadow: 5px 5px 5px rgb(132, 132, 160);
  padding-bottom: 2em;
}

.teammitglied img {
  height: 16em;
  width: auto;
}

.teammitglied h3 {
  padding: 0em;
}

.teammitglied p {
  margin: 0em;
}

.kontaktperson {
  padding-left: 2em;
}

hr {
  width: 20%;
  border-top: 2px solid #2b2f88;
}

/*
+++Veranstaltungen+++
*/

.alle-veranstaltungen {
  display: grid;
  width: 28em;
  justify-content: center;
  column-gap: 3em;
  row-gap: 1em;
  padding-bottom: 8rem;
  grid-template-rows: 1fr 1fr 1fr 1fr 0%;
  grid-template-columns: 115px auto auto;
  grid-template-areas:
    "heute leiste ."
    "datum1 leiste veranstaltung1"
    "datum2 leiste veranstaltung2"
    "datum3 leiste veranstaltung3"
    ". leiste .";
}

.heute {
  grid-area: heute;
  justify-self: right;
  margin-top: 1.5em;
}

.leiste {
  grid-area: leiste;
  justify-self: center;
}

.alle-veranstaltungen img {
  height: 100%;
}

.datum1 {
  grid-area: datum1;
  justify-self: right;
}

.datum2 {
  grid-area: datum2;
  justify-self: right;
}

.datum3 {
  grid-area: datum3;
  justify-self: right;
}

.veranstaltung {
  width: 250px;
  height: 200px;
  justify-self: left;
  margin-bottom: 2em;
}

.veranstaltung .fließ {
  padding-left: 0em;
}

.veranstaltung1 {
  grid-area: veranstaltung1;
  justify-self: left;
}

.veranstaltung2 {
  grid-area: veranstaltung2;
}

.veranstaltung3 {
  grid-area: veranstaltung3;
}

/*
+++Datenschutz+++
*/

.überschrift {
  margin-bottom: 2rem;
}

/*Dokumentation*/

.dokumentation {
  display: grid;
  grid-template-columns: 21% 14% 30% 14% 21%;
  grid-template-rows: auto;
  margin: 5rem;
  row-gap: 1rem;
}

.überschriften {
  margin: 0rem;
  padding: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #2b2f88;
  color: white;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 100%;
  justify-content: center;
}

.unterüberschrift1 {
  grid-column-start: 1;

  margin-left: 3rem;
}

.unterüberschrift2 {
  grid-column-start: 1;

  margin-left: 3rem;
}

.unterüberschrift3 {
  grid-column-start: 1;
  grid-row-start: 16;
  margin-left: 3rem;
}

.unterüberschrift4 {
  grid-column-start: 1;
  grid-row-start: 8;
  margin-left: 3rem;
}

.FarbenHS {
  grid-column-start: 2;
  grid-row-start: auto;
  text-align: center;
  grid-row-start: 7;
}

.FarbenAlumni {
  grid-column-start: 4;
  text-align: center;
  grid-row-start: 7;
}

.text {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
}

.text1 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 6;
}
.text2 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 9;
}
.text3 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 11;
}
.text4 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 13;
}
.text5 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 17;
}
.text6 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
}

.text7 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 4;
}
.text8 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 7;
}
.text9 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 12;
}

.bild {
  grid-column-start: 1;
  grid-column-end: 5;
  margin-top: 2rem;
  margin-left: 10rem;
}

/*Style#1 */
.links2b2f88 {
  grid-column-start: 2;
  grid-row-start: 8;
  text-align: center;
  padding: 2rem;
  background-color: #2b2f88;
  color: white;
}

.rechts2b2f88 {
  grid-column-start: 4;
  grid-row-start: 8;
  text-align: center;
  padding: 2rem;
  background-color: #2b2f88;
  color: white;
}

.linksec6707 {
  grid-column-start: 2;
  grid-row-start: 10;
  text-align: center;
  padding: 2rem;
  background-color: #ec6707;
  color: white;
}

.rechtsf08539 {
  grid-column-start: 4;
  grid-row-start: 10;
  text-align: center;
  padding: 2rem;
  background-color: #f08539;
  color: white;
}

.linksffffff {
  grid-column-start: 2;
  grid-row-start: 12;
  text-align: center;
  padding: 2rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.rechtsc3c3c3 {
  grid-column-start: 4;
  grid-row-start: 12;
  text-align: center;
  padding: 2rem;
  background-color: #c3c3c3;
  color: rgb(0, 0, 0);
}

/*Style#2 links */
.linksffffff1 {
  grid-column-start: 2;
  grid-row-start: 10;
  text-align: center;
  padding: 2rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.linksffffff2 {
  grid-column-start: 2;
  grid-row-start: 8;
  text-align: center;
  padding: 2rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
/*Style#2 rechts */

.rechtsaaddf8 {
  grid-column-start: 4;
  grid-row-start: 10;
  text-align: center;
  padding: 2rem;
  background-color: #aaddf8;
  color: rgb(0, 0, 0);
}

/*Style#3 rechts */
.rechts518ea5 {
  grid-column-start: 4;
  grid-row-start: 8;
  text-align: center;
  padding: 2rem;
  background-color: #518ea5;
  color: rgb(255, 255, 255);
}

.rechts2e6074 {
  grid-column-start: 4;
  grid-row-start: 10;
  text-align: center;
  padding: 2rem;
  background-color: #2e6074;
  color: rgb(255, 255, 255);
}

.rechts821436 {
  grid-column-start: 4;
  grid-row-start: 12;
  text-align: center;
  padding: 2rem;
  background-color: #821436;
  color: rgb(255, 255, 255);
}

/*Style#4 links */

.linksaddef7 {
  grid-column-start: 2;
  grid-row-start: 12;
  text-align: center;
  padding: 2rem;
  background-color: #addef7;
  color: white;
}

.linkse30617 {
  grid-column-start: 2;
  grid-row-start: 13;
  text-align: center;
  padding: 2rem;
  background-color: #e30617;
  color: white;
}

.links6b3e91 {
  grid-column-start: 2;
  grid-row-start: 14;
  text-align: center;
  padding: 2rem;
  background-color: #6b3e91;
  color: white;
}

/*Style#4 rechts */

.rechtsec6707 {
  grid-column-start: 4;
  grid-row-start: 10;
  text-align: center;
  padding: 2rem;
  background-color: #ec6707;
  color: white;
}

.rechtsaddef7 {
  grid-column-start: 4;
  grid-row-start: 12;
  text-align: center;
  padding: 2rem;
  background-color: #addef7;
  color: white;
}

.rechtse30617 {
  grid-column-start: 4;
  grid-row-start: 13;
  text-align: center;
  padding: 2rem;
  background-color: #e30617;
  color: white;
}

.rechts6b3e91 {
  grid-column-start: 4;
  grid-row-start: 14;
  text-align: center;
  padding: 2rem;
  background-color: #6b3e91;
  color: white;
}

/*Typo1 */

.typo1 {
  font-family: Calibri;
  font-style: bold;
  font-size: 72px;
  grid-column-start: 2;
  grid-row-start: 18;
  margin: 1rem;
}

.typo2 {
  font-family: Verdana;
  font-style: bold;
  font-size: 46px;
  grid-column-start: 2;
  grid-row-start: 19;
  margin: 1rem;
}

.typo3 {
  font-family: Verdana;
  font-style: italic;
  font-size: 24px;
  grid-column-start: 2;
  grid-row-start: 20;
  margin: 1rem;
}

/*Typo2 */

.typo4 {
  font-family: Helvetica;

  font-size: 72px;
  grid-column-start: 2;
  grid-row-start: 18;
  margin: 1rem;
}

.typo5 {
  font-family: Helvetica;
  font-size: 46px;
  grid-column-start: 2;
  grid-row-start: 19;
  margin: 1rem;
  color: #2b2f88;
}

.typo6 {
  font-family: Cargan;
  font-style: light;
  font-size: 24px;
  grid-column-start: 2;
  grid-row-start: 20;
  margin: 1rem;
}

/*Typo3 */

.typo7 {
  font-family: Verdana;
  font-style: Bold;
  font-size: 72px;
  grid-column-start: 2;
  grid-row-start: 18;
  margin: 1rem;
}

.typo8 {
  font-family: Verdana;
  font-size: 46px;
  grid-column-start: 2;
  grid-row-start: 19;
  margin: 1rem;
}

.typo9 {
  font-family: Cargan;
  font-style: light;
  font-size: 24px;
  grid-column-start: 2;
  grid-row-start: 20;
  margin: 1rem;
}

/*Typo4 */

.typo10 {
  font-family: Cargan;
  font-style: Bold;
  font-size: 72px;
  grid-column-start: 2;
  grid-row-start: 18;
  margin: 1rem;
}

.typo11 {
  font-family: Cargan;
  font-size: 46px;
  grid-column-start: 2;
  grid-row-start: 19;
  margin: 1rem;
}

.typo12 {
  font-family: Cargan;
  font-style: light italic;
  font-size: 24px;
  grid-column-start: 2;
  grid-row-start: 20;
  margin: 1rem;
}

/*Typo1.1 */
.typo13 {
  font-family: Cargan;
  font-style: Bold;
  font-size: 72px;
  grid-column-start: 2;
  grid-row-start: 9;
  margin: 1rem;
}

.typo14 {
  font-family: Cargan;
  font-size: 46px;
  grid-column-start: 2;
  grid-row-start: 10;
  margin: 1rem;
}

.typo15 {
  font-family: Cargan;
  font-style: light italic;
  font-size: 24px;
  grid-column-start: 2;
  grid-row-start: 11;
  margin: 1rem;
}

.typo16 {
  font-family: Cargan;
  font-style: Bold;
  font-size: 72px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 13;
  margin: 1rem;
  background-color: #2b2f88;
  color: white;
  margin-right: 10rem;
}

.typo17 {
  font-family: Cargan;
  font-size: 46px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 14;
  margin: 1rem;
  background-color: #2b2f88;
  color: white;
  margin-right: 10rem;
}

.typo18 {
  font-family: Cargan;
  font-style: light italic;
  font-size: 24px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 15;
  margin: 1rem;
  background-color: #2b2f88;
  color: white;
  margin-right: 10rem;
}

/*
Zeitleiste
*/

.bild-zeitleiste {
  max-width: 100%;
  height: auto;
  margin-left: 2em;
}

/*
Desktop-Version
*/

@media screen and (min-width: 46em) {
  .content {
    max-width: 650px;
    margin: 0 auto 0 auto;

    padding-top: 8rem;
  }

  .top {
    display: grid;
    gap: 10px;
    width: 100%;
    height: 4rem;
    align-items: center;
    padding-top: 0rem;

    grid-template-columns: 15% 10% auto auto auto 25%;
    grid-template-areas: "logo . neuigkeiten uns veranstaltungen .";
    box-shadow: 0px 0px 30px rgb(70, 70, 90);
  }

  .Logo img {
    height: 70%;
    width: auto;
  }

  .Logo {
    grid-area: logo;
    height: 70%;
    width: auto;
    justify-self: left;
    margin-left: 1em;
  }

  .Neuigkeiten {
    justify-self: center;
    align-self: center;
    grid-area: neuigkeiten;
    margin-top: -1rem;
  }

  .uns {
    justify-self: center;
    grid-area: uns;
    margin-top: -1rem;
  }

  .Veranstaltungen {
    justify-self: center;
    grid-area: veranstaltungen;
    margin-top: -1rem;
  }
}

@media screen and (min-width: 60em) {
  .footer {
    display: grid;
    width: 100%;
    grid-template-areas: ". info social-media abgabe .";
    grid-template-columns: 10% auto auto auto 10%;
  }

  .social-media > * {
    margin: 0 2%;
  }

  .social-media {
    align-self: center;
    justify-self: center;
  }

  .das-team {
    display: flex;
    justify-content: center;
  }
  
  .teammitglied {
    text-align: center;
    width: 18em;
    margin: 1em;
    box-shadow: 5px 5px 5px rgb(132, 132, 160);
    padding-bottom: 2em;
  }
}
